/* CSS Document */
.head{
text-align:center;
background-color:#000000;
color:#FFFFFF;
margin-right:33%;
margin-left:33%;
padding: 5px 5px 5px 5px;
border: 4px solid brown;
}
.name{
font-size:36px;
font-weight:bold;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

.level_1{
font-style:normal;
font-weight:bold;
font-size:23;
color:#000000;
font-family:Arial;
}
.level_2{
font-style:normal;
font-weight:bold;
font-size:20;
color:#000000;
font-family:Times New Roman;
}
.level_3{
font-style:normal;
font-weight:bold;
font-size:19;
color:#000000;
font-family:Arial;
}
.level_4{
font-style:normal;
font-weight:bold;
font-size:15;
color:#000000;
font-family:Arial;
}
.level_5{
font-style:normal;
font-weight:normal;
font-size:15;
color:#000000;
font-family:Times New Roman;
}
.level_6{
font-style:normal;
font-weight:normal;
font-size:13;
color:#000000;
font-family:Times New Roman;
}
